<mat-toolbar color="defoult">
    <span>SunneAcademy</span>
    <span class="example-spacer"></span>

    <img src="../../../assets/img/SunneLogo.png">
</mat-toolbar>

<section class="mainTitle">
  <h1>Olá, Nome do Studante</h1>
  <a mat-list-item routerLink="/">
    <mat-icon aria-hidden="false" aria-label="logout icon">logout</mat-icon>Sair
  </a>
</section>

<section class="booksData">
  <div class="booksData_card">
    <h4>Livros Alocados</h4>
    <h5>23</h5>
  </div>
  <div class="booksData_card">
    <h4>Próxima Devolução</h4>
    <h5>23/05/2022</h5>
  </div>
  <div class="booksData_card">
    <h4>Gênero Favorito</h4>
    <h5>Empreendedorismo</h5>
  </div>
  <div class="booksData_card">
    <h4>Gênero Favorito</h4>
    <h5>Empreendedorismo</h5>
  </div>
</section>
