<h1>Indicadores</h1>
<section class="container">
  <div class="container_MainCard">

    <div class="container_MainCard_Item_Cards">
      <div class="container_MainCard_Item">
        <h3>Locações Por Mês</h3>
        <canvas #totalBooks></canvas>
      </div>
      </div>
      <div class="container_MainCard_Item">
        <h3>Livros por Gênero</h3>
        <div class="container_MainCard_Item_Graphic">
          <canvas #countByGender ></canvas>
        </div>
    </div>
    </div>

  <ng-template class="container_MainCard"
  ngFor let-livro [ngForOf]="livros"
  >
  <div class="livro">
    <section class="livro_card">
      <h2 class="livro_title">{{ livro.name }}</h2>
      <h4>{{livro.author}}</h4>

      <ul>
        <li><strong>Gênero-</strong>{{livro.gender}}</li>
        <li><strong>Leitura-</strong>  {{livro.type}}</li>
        <li style="background:#1D0947; color: #fff;"><strong>Locatário-</strong>{{livro.tenant}}</li>
      </ul>

      <div class="livro_dates">
        <h5>Locação:</h5> <h6>{{livro.date}}</h6>
        <h5>Devolução:</h5> <h6>{{livro.devolution}}</h6>
      </div>
    </section>
    <section class="livro_img">
      <img class="livro_img_img"
      [src]="livro.photo"
      [alt]="livro.name"
      style="width: 120px;"
      >
    </section>
  </div>
  </ng-template>
</section>

